body {
    margin: 0vw;
    overflow:hidden;
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
    color: #484848;
}

.light {
    color: #F0F8FF;
}

#back {
    background-color: black;
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    height: 36.3636363636vw;
    width: 100vw;
    z-index: -1;
}

.column {
    width: 33.3333333333vw;
    height: 36.363636363636vw;
}

div {
    float: left;
}

#logo {
    height: 18.1818181818vw;
    width: 33.33333333vw;
    background-image: url("pics/view.png");
    background-size: 100% 100%;
}

#time {
    font-size: 4vw;
    position: relative;
    left: 2vw;
    top: 1vw;
    z-index: 3;
}

#time span {
    font-size: 3vw;
}

#date {
    font-size: 3vw;
    position: absolute;
    top: 6vw;
    left: 2vw;
    z-index: 3;
}

div #wetter {
    height: 10vw;
    width: 10vw;
    position: absolute;
    top: 1vw;
    left: 21vw;
    font-size: 4vw;
    
}

#wetter span {
    position: relative;
    left: 1vw;
}

#wetter img {
    position: relative;
    left: 1vw;
    height: 3vw;
    width: 4vw;
}

#news {
    height: 18.1818181818181818vw;
    width: 33.33333333333vw;
}

iframe {
    border-color: black;
    width: 33.33333333vw;
    height: 18.181818vw;
    overflow: hidden;
}

#mensa {
    background-color: #E0F0F0 !important;
    font-size: 0.7vw;
    position: relative;
    float: left;
    width: 33.3333333333vw;
    height: 18.18181818vw;
    overflow: hidden;
    z-index: 1;
}

#mensa > .mensa_day {
    max-height: 18.18181818vw;
}

#mensa tr {
    height: 1vw !important;
}

#mensa img {
    height: 0.7vw;
    width: auto;
}

.mensa_day.mensa_additional_info {
	width:100%;
}


.mensa_day.mensa_day_speise {
    margin-top: 0;
}

.mensa_day_speise_preis {
    width: 7vw !important;
}

#bvg {
    background-color: black;
    height: 36.3636363636vw;
}

#bvg table {
    height: 36.3636363636vw;
    width: 33.333333333333vw;
    font-size: 1.1vw;
    padding: 0.1vw 0.4vw 0.8vw 0.4vw;
    background-color: black;
}

#bvg th {
    padding: 0.3vw;
    background-color: #EBE9E6;
    font-weight: bold;
    border-top: 0.2vw solid black;
}

#bvg th:first-child{
    padding: 0.1vw;
    background-color: #EBE9E6;
    font-weight: bold;
    border-top: 0.2vw solid black;
}

#bvg th span {
    font-size: 1.8vw;
    position: relative;
    left: -0.8vw;
    top: -0.1vw;
}

#bvg th img {
    width: 2.15vw;
    height: 2.2vw;
    position: relative;
    left: -0.3vw;
    top: 0.2vw;
}

#bvg th:nth-child(2), #bvg td:nth-child(2) {
    background-color: #F6F5F3;
}

#bvg th:nth-child(3) {
    text-align: left;
    padding-left: 1vw;
}

#bvg td {
    padding-left: 1vw;
    background-color: #EBE9E6;
    border-top: 0.2vw solid black;
}

#bvg a {
    text-decoration: none;
    color: #484848;
    position: relative;
    top: -0.2vw;
}

#bvg td img {
    width: 1.6vw;
    height: 1.6vw;
    position: relative;
    top: 0.35vw;
}

#bvg tr:nth-child(11), #bvg tr:nth-child(12), #bvg tr:nth-child(13) {
    display: none;
}

#bvg td:first-child {
    font-weight: bold;
}

#footer {
    position: fixed;
    left: 58.2vw;
    top: 35.6vw;
    color: #929292;
    font-size: 0.4vw;
}

#footer img {
    width: 0.6vw;
    height: 0.6vw;
    position: relative;
    top: 0.1vw;
}

#lv {
    display: block;
    overflow: hidden;
    width: 33.333333333vw;
    height: 18.1818181818vw;
    font-size: 1vw;
    background-color: black;
}

#lv th {
    text-align: center;
    background-color: #3E4D54;
}

#lv tr:nth-child(odd){
    text-align: center;
    background-color: #224C4C;
}
#lv tr:nth-child(even){
    text-align: center;
}

div #veranstaltungen {
    position: relative;
    float: left;
}

div #bvg {
    position: absolute;
    z-index: 1;
}

div #lageplan {
    height: 36.3636363636vw;
    width: 33.33333333vw;
    float: right;
    position: absolute;
    z-index: 2;
    background-image: url("pics/bvg_lageplan_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

div #raumuebersicht {
    margin:1vw;
    position:absolute;
    z-index: 1;
    font-size: 1.1vw;
    background-color: black;
}

#raumuebersicht table {
    height: 35.3636363636vw;
    border-spacing: 0.7vw;
}

#raumuebersicht td:first-child {
    padding: 0.3vw;
    text-align: center;
    font-weight: bold;
    border-radius: 1.5vw;
    background-attachment: fixed;
}

#raumuebersicht tr:nth-child(1) td:first-child {
    background-color: rgb(226, 0, 137);
}

#raumuebersicht tr:nth-child(2) td:first-child {
    background-color: rgb(206, 0, 126);
}

#raumuebersicht tr:nth-child(3) td:first-child {
    background-color: rgb(189, 0, 115);
}

#raumuebersicht tr:nth-child(4) td:first-child {
    background-color: rgb(171, 0, 104);
}

#raumuebersicht tr:nth-child(5) td:first-child {
    background-color: rgb(156, 0, 94);
}

#raumuebersicht tr:nth-child(6) td:first-child {
    background-color: rgb(138, 0, 84);
}

#raumuebersicht tr:nth-child(7) td:first-child {
    background-color: rgb(123, 0, 74);
}

#raumuebersicht tr:nth-child(8) td:first-child {
    background-color: rgb(105, 0, 64);
}

#raumuebersicht tr:nth-child(9) td:first-child {
    background-color: rgb(88, 0, 54);
}

#raumuebersicht tr:nth-child(10) td:first-child {
    background-color: rgb(71, 0, 43);
}

#raumuebersicht tr:nth-child(11) td:first-child {
    background-color: rgb(55, 0, 33);
}

#raumuebersicht tr:nth-child(12) td:first-child {
    background-color: rgb(38, 0, 23);
}

#raumuebersicht tr:nth-child(13) td:first-child {
    background-color: rgb(26, 0, 15);
}

#video {
    width: 100vw;
    height: 36.36363636vw;
    right: 0vw;
    left: 0vw;
    position: absolute;
    background-color: black;
    display: none;
    z-index: 7;
    overflow: hidden;
}


